/* Mobile */

@media (max-width: 480px) {
	header.breadcrums {
		margin-left: 15px;
		margin-right: 15px;
		display: block;
		position: relative;
	}

	div.breadcrum {
		font-size: 20px;
		padding: 5px;
		position: relative;
	}

	div.breadcrum .name {
		margin-right: 5px;
	}

	div.breadcrum .close {
		margin-left: 5px;
	}

	header.count-bread {
		display: none;
	}

	footer.count-filter {
		background-color: #F4F4F4;
		border-top: 1px solid #B2B2B2;
		display: block;
		height: 50px;
	}

	footer.count-filter .counter {
		margin: 10px 0px 0px 15px;
		color: #4E4E4E;
		display: inline-block;
		font-size: 20px;
		float: left;
	}

	a.mobFilter {
		background-color: #49B2A5;
		color: #fff;
		display: inline-block;
		float: right;
		padding: 0;
		height: 50px;
	}

	a.mobFilter .name {
		font-size: 20px;
		float: left;
		display: inline-block;
		margin-top: 10px;
		margin-right: 5px;
		margin-left: 10px;
	}

	a.mobFilter .plus {
		font-size: 35px;
		float: right;
		display: inline-block;
		margin-left: 5px;
		margin-right: 10px;
	}
}

/* Tablet */

@media (min-width: 481px) and (max-width: 959px) {
	header.breadcrums {
		display: none;
	}

	header.count-bread {
		background-color: #E2E2E2;
		clear: both;
		display: block;
		height: 50px;
	}

	a.mobFilter {
		background-color: #49B2A5;
		color: #fff;
		display: inline-block;
		float: left;
		height: inherit;
	}

	a.mobFilter div.counter {
		display: inline-block;
		float: left;
	}

	a.mobFilter div.counter div.name {
		display: inline-block;
		float: left;
		font-size: 20px;
		margin: 15px 5px 0px 10px;
		font-weight: bold;
	}

	a.mobFilter div.counter div.results {
		display: none;
	}

	a.mobFilter div.counter div.plus {
		display: inline-block;
		float: right;
		font-size: 40px;
		font-weight: bold;
		margin: 0px 10px 0px 5px;
	}

	div.breadcrumsTD {
		display: inline-block;
		float: right;
		margin: 10px 25px 0px 0px;
	}

	div.breadcrumsTD div.breadcrum {
		padding: 5px;
	}

	div.breadcrumsTD div.breadcrum div.name {
		margin-right: 5px;
	}

	div.breadcrumsTD div.breadcrum div.close {
		margin-left: 5px;
	}

	footer.count-filter {
		display: none;
	}
}
/* Desktop */

@media (min-width: 960px) {
	header.breadcrums {
		display: none;
	}

	header.count-bread {
		background-color: #E2E2E2;
		clear: both;
		display: block;
		height: 50px;
	}

	a.mobFilter {
		background-color: #49B2A5;
		color: #fff;
		display: inline-block;
		float: left;
		pointer-events: none;
		height: inherit;
	}

	a.mobFilter div.counter {
		display: inline-block;
		float: left;
	}

	a.mobFilter div.counter div.name {
		display: inline-block;
		float: left;
		font-size: 20px;
		margin: 15px 5px 0px 10px;
		font-weight: bold;
	}

	a.mobFilter div.counter div.results {
		display: inline-block;
		float: right;
		font-size: 15px;
		margin: 15px 10px 0px 5px;
	}

	a.mobFilter div.counter div.plus {
		display: none;
	}
	

	div.breadcrumsTD {
		margin: 10px 25px 0px 0px;
		display: inline-block;
		float: right;
	}

	div.breadcrumsTD div.breadcrum {
		padding: 5px;
	}

	div.breadcrumsTD div.breadcrum div.name {
		margin-right: 5px;
	}

	div.breadcrumsTD div.breadcrum div.close {
		margin-left: 5px;
	}

	footer.count-filter {
		display: none;
	}
}

/* Styles not sizes */

div.breadcrum {
	background-color: #4F4F4F;
	font-family: "Arial", sans-serif;
	display: inline-block;

}
div.breadcrum .name {
	color: #fff;
	display: inline-block;
	float: left;
}

div.breadcrum .close {
	color: #47B3A5;
	display: inline-block;
	float: right;
}