/*  Mobile: */

@media (max-width: 480px) {
    .wrapper {
    	max-width: 480px;
        margin-top: -15px;
    }

    .productList {
    	width: 100%;
    }

    .productCard {
    	display: block;
        margin: 20px auto 20px auto;
    }
}

/*  Tablet: */

@media (min-width: 481px) and (max-width: 959px) {
    .wrapper {
        max-width: 959px;
        margin-top: 275px;
    }

    .productList {
        background-color: #F4F4F4;
        padding: 15px;
    }

    .productCard {
        background-color: #F4F4F4;
        display: inline-block;
        margin: 10px;
    }
}

/* Desktop: */

@media (min-width: 960px) {
    .wrapper {
        margin-top: 300px;
        width: 100%;
    }

    .productList {
        background-color: #F4F4F4;
        float: right;
        width: 79%;
        height: 100%;
        padding: 15px 0px 0px 1%;
    }

	.productCard {
        background-color: #F4F4F4;
        display: inline-block;
        margin: 10px;
        width: 74%;
	}
}

/* Styles not sizes */

.wrapper {
	clear: both;
	display: inline-block;
	padding: 0;
	position: relative;
	width: 100%;
}

.productList {
    display: inline-block;
    position: relative;
}

.productCard {
    width: 300px;
    height: 200px;
    border: 1px solid #000;
    font-family: Tahoma;
    background-color: #E2E2E2;
}

.productCard > img {
    position: absolute;
    max-width: 100%;
    height: auto;
}

.productCard > div, .productCard a {
    position: absolute;
}

.productCard a {
    height: 30px;
    width: 30px;
}

.productDescription, .productName {
    
    background-color: #696969;
    display: inline-block;
    color: #fff;
    vertical-align: middle;
}

.productDescription {
    margin: auto;
    padding: 5px;
    font-size: 15px;
}

.productName {
    font-weight: bold;
    padding: 6px;
}

.productName, .productDetails, .addCart {
    margin-top: 160px;
}

.productDetails, .addCart {
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.productDetails {
    background: url('../images/icons/details.png');
    margin-left: 229px;
}

.productDetails:hover {
    background: url('../images/icons/details-hover.png');
}

.addCart {
    background: url('../images/icons/addcart.png');
    margin-left: 260px;
}

.addCart:hover {
    background: url('../images/icons/addcart-hover.png');
}

/* Product #1 */

.productCard:nth-child(1) .productDescription {
    margin-top: 112px;
    margin-left: 162px;
}

.productCard:nth-child(1) .productName {
    margin-left: 129px;
}

/* Product #2 */

.productCard:nth-child(2) .productDescription {
    margin-top: 112px;
    margin-left: 153px;
}

.productCard:nth-child(2) .productName {
    margin-left: 68px;
}

/* Product #3 */

.productCard:nth-child(3) .productDescription {
    margin-top: 112px;
    margin-left: 201px;
}

.productCard:nth-child(3) .productName {
    margin-left: 89px;
}

/* Product #4 */

.productCard:nth-child(4) .productDescription {
    margin-top: 130px;
    margin-left: 10px;
}

.productCard:nth-child(4) .productName {
    margin-left: 10px;
    font-size: 12px !important;
    padding: 8px !important;
}

.productCard:nth-child(4) .productDetails {
    margin-left: 154px !important;
}

.productCard:nth-child(4) .addCart {
    margin-left: 185px !important;
}

/* Product #5 */

.productCard:nth-child(5) .productDescription {
    margin-top: 130px;
    margin-left: 180px;
}

.productCard:nth-child(5) .productName {
    margin-left: 119px;
}

/* Footer */

footer.load-more {
    clear: both;
    margin-top: 50px;
}

img.load-more {
    margin: auto;
    display: block;
    bottom: 0px;
}