/* Mobile */

@media (max-width: 480px) {
    .slider {
        margin-top: 50px;
        max-width: 480px;
    }

    .sliderList {
        height: 250px;
        margin-left: -3px;
    }

    .sliderImage {
        max-height: 250px;
    }

    .slimgDesc {
        display: none;
    }

    .sliderButtons {
        top: 260px;
        right: 20px;
    }

    .sliderButton {
        border: 1px;
        height: 15px;
        margin: 2.5px;
        width: 15px;
    }
}

/* Tablet */

@media (min-width: 481px) and (max-width: 959px) {
    .slider {
        max-width: 959px;
    }

    .sliderList {
        height: 250px;
        margin-left: -3px; /*?*/
    }

    .sliderImage {
        max-height: 250px;
    }

    .slimgDesc {
        font-size: 20px;
        padding: 3px;
        position: absolute;
        left: 15px;
        bottom: 15px;
    }

    .sliderButtons {
        top: 15px;
        right: 20px;
    }

    .sliderButton {
        border: 1px;
        height: .75em;
        width: .75em;
    }
}

/* Desktop */

@media (min-width: 960px) {
    .sliderImages {
        z-index: -1;
    }

    .sliderList {
        height: 300px;
        margin-left: -5px;
    }

    .sliderImage {
        max-height: 300px;
    }

    .slimgDesc {
        position: absolute;
        padding: 5px;
        left: 15px;
        bottom: 15px;
    }

    .sliderButtons {
        top: 190px;
        right: 20px;
    }

    .sliderButton {
        border: 2px;
        height: 12.5px;
        width: 12.5px;
    }
}

/* Styles not sizes */

.slider {
    margin: 0;
    padding: 0;

}

.sliderImages {
    display: inline-block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    position: absolute;
    transition: all 0.75s ease-in;
}

.sliderList {
    /*display: inline-block;*/
    max-width: inherit;
    position: relative;
    z-index: 1;
}

.sliderImage {
    max-width: 100%;
}

@font-face {
    font-family: "DIN Alternate Bold";
    src: url('../fonts/DIN Alternate Bold/DIN Alternate Bold.otf');
}

.slimgDesc {
    background-color: #fff;
    color: #414141;
    font-family: "DIN Alternate Bold";
    z-index: 2;
}

.sliderButtons {
    list-style: none;
    position: absolute;
    z-index: 2;
}

.sliderButton/*,  .sliderButtonDeactive*/ {
    background: #414141;
    border: solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
}

/*.sliderButtonActive*/ {
    background: #fff;
    border-color: #414141;
}
