/* Mobile */

@media (max-width: 480px) {
    .slider {
        z-index: -3;
    }

    .sliderList {
        margin-left: -3px;
    }

    .sliderImage {
        height: 350px;
    }

    .slimgDesc {
        display: none;
    }

    .sliderButtons {
        top: 250px;
        right: 20px;
    }

    .sliderButton {
        height: 15px;
        margin: 2.5px;
        width: 15px;
    }

    .sliderGradient {
        width: 100%;
        height: 100px;
        background: url('../images/gradient.jpg');
        position: relative;
    }
}

/* Tablet */

@media (min-width: 481px) and (max-width: 959px) {
    .sliderList {
        margin-left: -3px;
    }

    .sliderImages {
        z-index: -3;
    }

    .sliderImage {
        height: 275px;
    }

    .slimgDesc {
        font-size: 17px;
        padding: 3px;
        position: absolute;
        left: 15px;
        bottom: 15px;
    }

    .sliderButtons {
        top: 225px;
        right: 20px;
    }

    .sliderButton {
        border: 1px;
        height: 12.5px;
        width: 12.5px;
    }
}

/* Desktop */

@media (min-width: 960px) {
    .sliderImages {
        z-index: -1;
    }

    .sliderList {
        margin-left: -5px;
    }

    .sliderImage {
        height: 300px;
    }

    .slimgDesc {
        font-size: 20px;
        position: absolute;
        padding: 5px;
        left: 15px;
        bottom: 15px;
    }

    .sliderButtons {
        top: 245px;
        right: 25px;
    }

    .sliderButton {
        border: 2px;
        height: 12.5px;
        width: 12.5px;
    }
}

/* Styles not sizes */

.slider {
    margin-top: 0;
    margin: 0;
    padding: 0;
}

.sliderImages {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    transition: all 0.75s ease-in;
}

.sliderList {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.sliderImage {
    z-index: 2;
}

@font-face {
    font-family: "DIN Alternate Bold";
    src: url('../fonts/DIN Alternate Bold/DIN Alternate Bold.otf');
}

.slimgDesc {
    background-color: #fff;
    color: #414141;
    font-family: "DIN Alternate Bold";
    z-index: 2;
}

.sliderButtons {
    list-style: none;
    position: absolute;
    z-index: 3;
}

.sliderButton {
    background: #414141;
    border: solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
}

.active {
    background: #fff;
    border-color: #414141;
}