/* Mobile */

@media (max-width: 480px) {
	.upperBar {
		background-color: #fff;
		height: 50px;
		position: absolute;
		z-index: 2;
	}

	.shopName {
		margin-top: 13px;
		margin-left: 15px;
		font-size: 16px;
	}

	.shopIcon {
		height: 20px;
		width: 20px;
	}
}

/* Tablet */

@media (min-width: 481px) and (max-width: 959px) {
	.upperBar {
		background-color: rgba(255,255,255,0.5);
		height: 75px;
	}

	.shopName {
		margin-left: 25px;
		margin-top: 16px;
		font-size: 22px;
	}

	.shopIcon {
		height: 25px;
		width: 25px;
	}
}

/* Desktop */

@media (min-width: 960px) {
	.upperBar {
		background-color: rgba(255,255,255,0.5);
		height: 100px;
	}

	.shopName {
		margin-left: 25px;
		margin-top: 30px;
		font-size: 25px;
	}

	.shopIcon {
		height: 25px;
		width: 25px;
	}
}

/* Styles, not sizes */

.upperBar {
	display: inline-block;
	position: absolute;
	top: 0;
	width: 100%;
}

@font-face {
	font-family: "Krinkes";
	src: url('../fonts/krinkes/KrinkesDecorPERSONAL.ttf');
}

.shopName {
	color: #000;
	display: inline-block;
	float: left;
	font-family: "Krinkes";
}